{
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "generators": true,
    "objectLiteralShorthandProperties": true,
    "objectLiteralShorthandMethods": true,
    "templateStrings": true
  },
  "env": {
    "node": true
  },
  "rules": {
    "strict": 0
  }
}
